<h1>Hey welcome to your favorite travel planner app!</h1>
<h2>Opening this app means the best times are yet to come
  through an airplane, a spaceship, or a cruise ship!</h2>
  <p>If this is your first time here, then <a href="/signup">sign up</a> or <a href="/login">log in</a> to get started.
<h2>Featured travelers' photos for this month!</h2>
<img src="https://mymodernmet.com/wp/wp-content/uploads/2019/09/Von-Braun-Space-Station-Hotel-3.jpg" alt="Space Hotel" width="700px" height="400px">
<img src="https://assets3.thrillist.com/v1/image/1384392/792x528/crop;jpeg_quality=60;progressive.jpg" alt="Crazy Selfie" width="700px" height="400px">
