<h1>Create Your Profile</h1>

<form action="/signup" method="POST">
  <label>Your Name:</label>
  <input type="text" name="name" placeholder="What do they call you?" required><br><br>
  <label>Your username:</label>
  <input type="text" name="username" placeholder="Nickname" required><br><br>
  <label>Your password:</label>
  <input type="password" name="password" placeholder="What's the magic word?" required>
  <br><br>
<input type="submit" value="Sign Up">
</form><br>
<img src="https://media.cntraveler.com/photos/5ac78c4cde3556560abc9bd5/master/pass/GettyImages-521742263.jpg" width="700px" height="400px">
