<h1>Hey welcome to your favorite travel planner app!</h1>
<h2>Opening this app means the best times are yet to come
  through an airplane, a spaceship, or a cruise ship!</h2>

<p>If this is your first time here then <a href="/signup">sign up</a> or <a href="/login">log in</a> to get started.
