
<p><a href="plans/new">Click here to create a new plan</a></p>
<p><a href="plans/delete">Click here to cancel(delete) one of your plans</a></p>
<p><a href="plans/update">Click here to update one of your plans</a></p>

<p><a href="/logout">Log Out</a></p>
