<form action="/plans" method="POST">

<h1>New Plan</h1><br>

<label>What is it called? </label>
<input type="text" name="plan[name]" id="name"></input>
<br><br>

<label>Where are you going? </label>
<input type="text" name="plan[destination]" id="destination"></input>
<br><br>

<label>How are you going to get there? </label>
<input type="text" name="plan[mode_of_transport]" id="mode_of_transport"></input>
<br><br>

<label>What day? </label>
<input type="text" name="plan[date]" id="date" placeholder="00/00/0000"></input>
<br><br>

<input type="submit" value="Make Plan">
</form><br>
<img src="https://image.cnbcfm.com/api/v1/image/106294131-1576211589402gettyimages-913987230.jpeg?v=1576211867&w=1400&h=950" width="750px" height="600px">
