<form action="/plans" method="POST">

<h3>New Plan</h3>

<label>What is it called? </label>
<input type="text" name="plan[name]" id="name"></input>
<br><br>

<label>Where are you going? </label>
<input type="text" name="plan[destination]" id="destination"></input>
<br><br>

<label>How are you going to get there? </label>
<input type="text" name="plan[mode_of_transport]" id="mode_of_transport"></input>
<br><br>

<label>What day? </label>
<input type="text" name="plan[date]" id="date"></input>
<br><br>

<input type="submit" value="Make Plan">
</form>
