<h1>Here are all your plans</h1>
Need some kind of way to show all the plans here
<h1> Now here are all your account options</h1>
<p><a href="/plans/new">Click here to create a new plan</a></p>
<p><a href="/plans/delete">Click here to cancel(delete) one of your plans</a></p>
<p><a href="/plans/update">Click here to update one of your plans</a></p>

<p><a href="/logout">Log Out</a></p>
